*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.section{
    height: 100rem;
}

.section-1{
    background: black;
}

.section-2{
    background: darkblue;
}

.section-3{
    background: white;
}

.reviews{

}

.review{
    width: 30rem;
    height: 30rem;
    background: darkred;
}